#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    height: 17px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;

}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
}

.container {
    display: flex;         /* make children line up side by side */
    gap: 20px;              /* optional space between them */
}

.container > div {
    flex: 1;                /* optional: make them take equal width */
    border: 1px solid #ccc; /* optional: just to see their boundaries */
    padding: 10px;
}